.c-footer-main-menu {
  display: flex;

  &__block {
    &:not(:last-child) {
      margin-right: 9rem;
    }
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 3rem;
  }

  &__list-item {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: var(--c-white);
  }

  &__link-icon {
    margin-right: 1rem;
  }
}
