.c-feedback {
  display: grid;
  align-items: center;
  gap: 1.6rem;

  @include respond($bp-medium) {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  &__left {
    max-width: 30rem;
    margin: 0 auto;

    @include respond($bp-medium) {
      max-width: 100%;
    }
  }

  &__call-block {
    border-radius: 2.2rem;
    border: 1.5px solid #4977E5;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(10px);
  }

  &__form {
    padding: 2rem;
    border-radius: 1.6rem;
    background: var(--c-white);
    box-shadow: 0 1rem 2.3rem 0 rgba(131, 139, 149, 0.15);

    @include respond($bp-large) {
      padding: 3rem 5rem 3rem 4.6rem;
    }
  }

  &__form-title {
    margin-bottom: 2rem;
  }

  &__form-input {
    margin-bottom: 3rem;
  }

  &__form-btn {
    width: 100%;
  }
}
