.c-hero {
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include respond($bp-large) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  &__title {
    font-size: 3.6rem;
    font-weight: 700;
    color: var(--c-white);
    text-transform: capitalize;

    @include respond($bp-large) {
      font-size: 5.6rem;
    }
  }
}
