.c-testimonials {
  &__img {
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  &__name {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  &__rating {
    margin-bottom: 2rem;
  }

  &__comment {
    font-size: 1.5rem;
    color: var(--c-gray-primary);
    max-width: 66.3rem;
    margin: 0 auto;
  }

  .splide__arrow {
    width: 2em;
    height: 2em;
    background: var(--c-primary);
    top: 30%;

    @include respond($bp-large) {
      width: 3em;
      height: 3em;
      top: 50%;
    }

    svg {
      width: 0.8em;
      height: 0.8em;
      fill: var(--c-white);
      
      @include respond($bp-large) {
        width: 1.2em;
        height: 1.2em;
      }
    }
  }
}
