/**
 * Basic typography style for copy text
 */
 body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

.t-section-heading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;

  @include respond($bp-large) {
    font-size: 4rem;
  }
}
