.l-footer {
  & > div {
    &:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.31);
    }
  }

  &__main {
    padding-top: 5rem;
    padding-bottom: 4rem;

    @include respond($bp-large) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__info {
    flex-basis: 29.2rem;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 4rem;
  }

  &__info-text {
    margin-bottom: 3rem;
  }

  &__developer {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &__developer-text {
    margin-right: 4rem;
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &__copyright-list {
    display: flex;
  }

  &__copyright-list-item {
    &:not(:last-child) {
      margin-right: 3.5rem;
    }
  }

  &__copyright-list-link {
    color: var(--c-white);
  }
}
