.l-footer {
  &__main {
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include respond($bp-large) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 5rem;
      padding-bottom: 4rem;
    }
  }

  &__developer-text {
    margin-right: 4rem;
  }

  &__developer-link {
    display: inline-block;
    opacity: 1;
    transition: opacity .2s ease;

    @include on-event {
      opacity: .8;
    }
  }

  &__contacts-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  &__contacts-item {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__contacts-link {
    display: flex;
    align-items: center;
    color: var(--c-white);
  }

  &__contacts-text {
    margin-left: 1rem;
  }
}
