<section class="h-container h-py-4">
  <div class="c-feedback">
    <div class="c-feedback__left">
      <img loading="lazy" src="/img/feedback-bg.svg" class="h-img-fluid" alt="">
    </div>

    <div class="c-feedback__right">
      <form action="#" class="c-feedback__form">
        <h3 class="c-feedback__form-title t-section-heading h-text-center">Having Question? <br> Get in <span class="h-text-primary">touch!</span></h3>
        <div class="c-feedback__form-input">
          <div class="c-input">
            <label for="name" class="c-input__label">Your name</label>
            <input type="text" placeholder="Enter your name" id="name" class="c-input__field">
          </div>
        </div>

        <div class="c-feedback__form-input">
          <div class="c-input">
            <label for="email" class="c-input__label">Your Email</label>
            <input type="email" placeholder="Enter your email" id="email" class="c-input__field">
          </div>
        </div>

        <div class="c-feedback__form-input">
          <div class="c-input">
            <label for="phone" class="c-input__label">Your Phone number</label>
            <input type="tel" placeholder="Enter your number" id="phone" class="c-input__field">
          </div>
        </div>

        <div class="c-feedback__form-input">
          <div class="c-textarea">
            <label for="message" class="c-input__label">Your Message</label>
            <textarea placeholder="Enter your message" id="message" class="c-textarea__field"></textarea>
          </div>
        </div>
        
        <input type="submit" class="c-feedback__form-btn c-btn" value="Submit">
      </form>
    </div>
  </div>
</section>
